$COLOR_WHITE: #fff;
$COLOR_BLACK: #1c1c1c;
$COLOR_GRAY: #acacac;
$COLOR_DARK_GREEN: #007a7a;
$COLOR_LIGHT_GREEN: #daf1f0;
$COLOR_BACKGROUND_DARK_GREEN: #005154;
$COLOR_BACKGROUND_LIGHT_GREEN: #00a19b;


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    vertical-align: baseline;
}

body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: normal;
}

h2 {
    font-size: 2rem;
    padding: 8px 0 0 10px;
}

footer,
header{
    display: block;
    width: 100%;
    height: 60px;
    background: $COLOR_WHITE
}

ul{
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

.container {
    max-width: 64rem;
    margin: 0 auto;
    height: 100%
}

.text-primary {
    color: $COLOR_DARK_GREEN
}

.bg-primary-2 {
    background-color: $COLOR_LIGHT_GREEN
}

.point-dark {
    font-size: 1.25rem;
    position: relative;
    &:focus{
        border: dashed 2px $COLOR_BACKGROUND_DARK_GREEN;
        background: $COLOR_WHITE;
        color: $COLOR_BLACK;
    }
}

.point-light {
    font-size: 1.25rem;
    position: relative;
    &:focus{
        border: dashed 2px $COLOR_BACKGROUND_DARK_GREEN;
        background: $COLOR_BACKGROUND_LIGHT_GREEN;
        color: $COLOR_WHITE;
    }
}

.ml-10 {
    margin-left: .625rem !important
}

.my-50 {
    margin: 3.125rem auto !important
}

.p-20 {
    padding: 1.25rem !important
}

.pt-20 {
    padding-top: 1.25rem !important
}

.space-between {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important;
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
    font-size: .875rem
}

@media(min-width:576px) {
    .space-between {
        -webkit-flex-direction: row !important;
        flex-direction: row !important
    }
}

.f-18 {
    font-size: 1.125rem !important
}

.btn{
    width: 12.5rem;
    height: 4.0625rem;
    color: $COLOR_WHITE;
    background-color: $COLOR_DARK_GREEN;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.125rem;
    text-align: center;
    &:hover{
        background-color: $COLOR_BACKGROUND_DARK_GREEN;
    }
    &:focus{
        background-color: $COLOR_BACKGROUND_DARK_GREEN;
    }
}

.headWrap {
    height: 100%;
    background: $COLOR_WHITE;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.logoWrap {
    padding: .3125rem;
    display: -webkit-flex;
    display: flex;
    &:hover{
        border: dashed 2px $COLOR_DARK_GREEN
    }
    &:focus
    {
        border: dashed 2px $COLOR_DARK_GREEN
    }
}

.logoWrapPic {
    width: 6.875rem;
    padding-right: .3125rem
}

.logoWrapTitle {
    padding-left: .3125rem;
    padding-top: .125rem;
    border-left: solid 2px $COLOR_LIGHT_GREEN;
    font-size: 1rem
}

@media(min-width:576px) {
    .logoWrapPic {
        width: 9.375rem;
        padding-right: .625rem
    }

    .logoWrapTitle {
        padding-left: .625rem;
        font-size: 1.25rem
    }
}

.tourWrap {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin: .3125rem
}

.tourWrapBtn {
    min-width: 4.0625rem;
    padding: .5rem .75rem;
    background: $COLOR_WHITE;
    color: $COLOR_BACKGROUND_DARK_GREEN;
    border: solid 1px $COLOR_BACKGROUND_DARK_GREEN;
    border-radius: .25rem;
    &:hover{
        background: $COLOR_BACKGROUND_DARK_GREEN;
        border: 0;
        color: $COLOR_WHITE
    }
    &:focus{
        background: $COLOR_BACKGROUND_DARK_GREEN;
        border: 0;
        color: $COLOR_WHITE
    }
}

.nav-btn {
    padding: .625rem 1.5rem;
    margin: 0 8px 8px 0;
    color: $COLOR_BACKGROUND_DARK_GREEN;
    border: solid 1px $COLOR_BACKGROUND_DARK_GREEN;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.125rem;
    text-align: center;
    width: 100%;
    &:hover{
        background-color: $COLOR_BACKGROUND_DARK_GREEN;
        color: $COLOR_WHITE
    }
    &:focus{
        background-color: $COLOR_BACKGROUND_DARK_GREEN;
        color: $COLOR_WHITE
    }
}

@media(min-width:576px) {
    .nav-btn {
        width: 39%
    }
}

@media(min-width:768px) {
    .nav-btn {
        width: auto
    }
}

.navTabs {
    padding: 1.25rem 1.25rem 0;
    text-align: center;
    display: inline-block;
}

.navTabsWrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

@media(min-width:576px) {
    .navTabsWrap {
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}

@media(min-width:768px) {
    .navTabsWrap {
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }
}

.nav-btn-active {
    background-color: $COLOR_BACKGROUND_DARK_GREEN;
    color: $COLOR_WHITE;
    &:hover{
        background-color: $COLOR_DARK_GREEN;
        color: $COLOR_WHITE
    }
    &:active{
        background-color: $COLOR_DARK_GREEN;
        color: $COLOR_WHITE
    }
}

.wrapper {
    background: $COLOR_WHITE
}

.content {
    max-width: 1024px;
    min-height: calc(100vh - 300px);
    margin: 20px auto 50px;
    background: $COLOR_WHITE;
    position: relative
}

.contentWrap {
    margin: .625rem 0;
    overflow: hidden
}

@media(min-width:576px) {
    .content {
        border-radius: 10px;
        box-shadow: 5px 5px 20px $COLOR_LIGHT_GREEN
    }
}

.landingWrap {
    width: 100%;
    height: 10rem;
    overflow: hidden
}

.landingWrapPic {
    width: 170%;
    position: relative;
    top: -15%
}

@media(min-width:576px) {
    .landingWrap {
        height: 15rem
    }

    .landingWrapPic {
        top: -5%;
        width: 100%
    }
}

@media(min-width:768px) {
    .landingWrap {
        border-radius: 10px 10px 0 0
    }

    .landingWrapPic {
        top: -30%;
        width: 110%
    }
}

.list,
.listWrap {
    text-align: center
}

.list {
    margin-top: 1.25rem
}

.listWrap {
    width: 90%;
    padding: .9375rem;
    display: inline-block
}

.listTitle {
    font-size: 1.5rem;
    padding-bottom: 3.125rem
}

.listBtnWrap {
    border-top: solid 1px $COLOR_LIGHT_GREEN;
    padding-top: 1.25rem;
    margin-top: .3125rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.listBtnWrap li {
    display: inline-block;
    padding: .5rem
}

@media(min-width:768px) {
    .listWrap {
        max-width: 43.75rem;
        width: 100%;
        text-align: left
    }

    .listBtnWrap {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
}

.breadcrumb {
    display: -webkit-flex;
    display: flex;
    padding-top: .3125rem
}

.oneTable {
    padding-top: 1.25rem
}

.oneTableWrap {
    padding: 0 10px
}

.oneTableWrap li,
.twoTableWrap li {
    width: 100%;
    margin-bottom: 1.25rem
}

.twoTable {
    padding-top: 1.25rem
}

.twoTableWrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

@media(min-width:576px) {
    .twoTableWrap {
        -webkit-flex-direction: row;
        flex-direction: row
    }

    .twoTableWrap li {
        width: 50%;
        padding: 0 10px
    }
}

.data {
    padding: .375rem 0
}

.dataPic {
    width: .9375rem;
    vertical-align: middle
}

.dataTitle, .unit {
    font-size: .875rem
}

.unit {
    padding: .375rem 0
}

.baseTable {
    width: 100%;
    border: solid 1px $COLOR_GRAY;
    thead{
        background: $COLOR_DARK_GREEN;
        color: $COLOR_WHITE;
    }
    th{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 5px;
        border-bottom: solid 1px $COLOR_WHITE;
        border-left: solid 1px $COLOR_WHITE;
        vertical-align: middle;
    }
    td{
        border: solid 1px $COLOR_GRAY;
        padding: 8px 10px;
        vertical-align: middle
    }
    tbody{
        tr{
          &:hover{
            background-color: $COLOR_LIGHT_GREEN;
            color: $COLOR_BLACK;
          }  
        }
    }
}

.rwdTable{
    width: 100%;
    tbody{
        tr{
            display: block;
            margin-bottom: 20px;
        }
        td{
            display: block;
            padding: 2px 0;
            border-bottom: solid 1px $COLOR_LIGHT_GREEN;
            text-align: left;
            &::before{
                padding-left: .625rem;
                content: attr(data-th) ":";
                display: inline-block;
                width: 50%
            }
        }
        .title{
            background: $COLOR_DARK_GREEN;
            color: $COLOR_WHITE
        }
    }
    thead{
        display: none;
    }
}

@media(min-width:768px) {
    .rwdTable{
        thead{
            background-color: $COLOR_DARK_GREEN;
            color: $COLOR_WHITE;
            width: 100%;
            display: table-row-group;
            th{
                padding: .5rem .625rem;
                border-bottom: solid 1px $COLOR_WHITE;
                border-left: solid 1px $COLOR_WHITE;
                vertical-align: middle
            }
        }
        tbody{
            tr{
                margin: 0;
                display: table-row;
                border-left: solid 1px $COLOR_LIGHT_GREEN;
                border-right: solid 1px $COLOR_LIGHT_GREEN;
                &:hover{
                    background-color: $COLOR_LIGHT_GREEN;
                    color: $COLOR_BLACK;
                    .title{
                        color: $COLOR_BLACK
                    }
                }
            }
            td{
                display: table-cell;
                padding: .5rem .625rem;
                text-align: right;
                border-right: solid 1px $COLOR_LIGHT_GREEN;
                &::before{
                    display: none
                }
                &:last-child{
                    border-left: none
                }
            }
            .title{
                background: 0 0;
                color: $COLOR_BLACK;
                text-align: left
            }
        }
    }
}

.noteContent {
    padding: 1.25rem .75rem;
    font-size: 1.125rem;
    line-height: 1.875rem
}

.noteList-mark{
    li{
        text-indent: -20px;
        margin-left: 1.25rem;
        line-height: 1.5;
        &::before{
            content: "*";
            padding: .375rem
        }
    }
}
.noteList-number {
    padding-left: .625rem;
    li{
        list-style: decimal;
        margin-left: 1.25rem;
        line-height: 1.5;
        a{
            color: $COLOR_BACKGROUND_DARK_GREEN;
            text-decoration: underline;
            &:hover{
                border: dashed 2px $COLOR_BACKGROUND_DARK_GREEN;
                background: $COLOR_BACKGROUND_DARK_GREEN;
                color: $COLOR_WHITE
            }
            &:focus{
                border: dashed 2px $COLOR_BACKGROUND_DARK_GREEN;
                background: $COLOR_BACKGROUND_DARK_GREEN;
                color: $COLOR_WHITE
            }
        }
    }
}

.service {
    padding: 0 20px 30px
}

.serviceTitle {
    font-size: 1.125rem
}

.serviceWrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px
}

.service-btn {
    padding: .625rem 1.5rem;
    margin: 0 8px 8px 0;
    color: $COLOR_WHITE;
    background: $COLOR_DARK_GREEN;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.125rem;
    text-align: center;
    &:hover{
        background-color: $COLOR_BACKGROUND_DARK_GREEN;
        color: $COLOR_WHITE
    }
    &:focus{
        background-color: $COLOR_BACKGROUND_DARK_GREEN;
        color: $COLOR_WHITE
    }
}

footer {
    position: relative
}

.warning {
    background: $COLOR_WHITE;
    padding: 1.25rem 0
}

.warningWrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.warningTxt {
    padding: 0 1.25rem
}

.warningPic {
    padding: 1.25rem;
    img{
        width: 7.5rem
    }
    a{
        display: inline-block;
        &:hover{
            border: dashed 2px $COLOR_BACKGROUND_DARK_GREEN;
            padding: .3125rem
        }
        &:focus{
            border: dashed 2px $COLOR_BACKGROUND_DARK_GREEN;
            padding: .3125rem
        }
    }
}

@media(min-width:576px) {
    .warningWrap {
        -webkit-flex-direction: row;
        flex-direction: row
    }

    .warningTxt {
        width: 75%
    }

    .warningPic {
        width: 25%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 0
    }
}

.otherLink {
    background: $COLOR_BACKGROUND_DARK_GREEN;
    padding: .75rem
}

.otherLinkList{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    padding: .125rem .75rem
}

.otherLinkWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: $COLOR_WHITE
}

@media(min-width:576px) {
    .otherLinkWrap {
        -webkit-flex-direction: row;
        flex-direction: row
    }
}

#gotocenter {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    float: left;
    &:focus{
        width: 100px;
        height: 25px;
        overflow: visible;
        color: $COLOR_WHITE;
        background: $COLOR_BACKGROUND_DARK_GREEN
    }
}

.updatePrice{
    cursor: pointer;
    color: $COLOR_DARK_GREEN;
}


